name: Create Containers CosmosDB

on:
  workflow_dispatch:
    inputs:
      environment:
        type: string
        required: true
        default: dev
      resourceGroupName:
        type: string
        required: true
      accountNameCosmosDB:
        type: string
        required: true
      databaseName:
        type: string
        required: true

permissions:
      id-token: write
      contents: read
# SECRET_VALUE: kv -> ChatStore--Cosmos--ConnectionString
jobs:
  build:
    runs-on: 
      group: large-runner-vnet-eyx
    environment: ${{ inputs.environment }}

    steps:
      # Step 1: Checkout the repository
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: 'Login to Azure'
        uses: azure/login@v2
        with:
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-id: ${{ secrets.MANAGED_IDENTITY_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      # - name: 'Login to Azure'
      #   uses: azure/login@v2
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}
  
      - name: ls
        run: |
          ls

      - name: Deploy Containers
        shell: pwsh
        run: |

          ./resources/scripts/cosmosdb-createcontainers.ps1 -resourceGroupName '${{ inputs.resourceGroupName }}' -accountName '${{ inputs.accountNameCosmosDB }}' -databaseName '${{ inputs.databaseName }}'


